<div class="row m-2">
    <div class="form-group">
        <label>Course Name</label>
        <input type="text" class="form-control" aria-describedby="emailHelp"
        [(ngModel)]="newCourseName">
    </div>
    <div class="form-group">
        <label>description</label>
        <input type="text" class="form-control"
        [(ngModel)]="newCourseDescription">
    </div>

    <div class="form-group">
        <label>Rate</label>
        <input [(ngModel)]="newCourseRate" type="number" class="form-control"
        >
    </div>
    <button type="submit" class="btn btn-primary m-2 col-2" (click)="onNewCourseAdded()">Add Course</button>
</div>
