<nav id="app-top-navbar">
    <div class="navbar navbar-expand-lg">
        <div id="navbar-brand" class="collapse navbar-collapse menu-area">
            <strong>Tizhad</strong>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">خانه</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">مقالات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/growth-path']">معرفی کتاب</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/courses']">دوره های رایگان</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/join-us']">ارتباط با ما</a>
                        </li>
                    </ul>
                </div>

    </div>
</nav>

