<div class="row">
    <button class="btn btn-primary col-2"
            [disabled]="!allowAddCourse"
            (click)="onCreateCourse()"
    >Add course</button>
    <p>{{createCourseMsg}}</p>
    <hr>
    <div>
        <label> Add Course</label>
        <input class="form-control" placeholder="Course name" (input)="onUpdateName($event)">
        <p>{{courseName}}</p>
        <p  *ngIf="allowAddCourse; else notAllow">  allowAddCourse is true!</p>
        <ng-template #notAllow>
            <p> ng template test</p>
        </ng-template>
    </div>
    <div>
        <p [ngStyle]="{backgroundColor: getCourseStatusColor() }">{{courseStatus}}</p>
    </div>
    <div class="row">
        <div class="dropdown col">
            <button class="btn btn-outline-primary dropdown-toggle m-2" type="button" data-toggle="dropdown"
                    (click)="showSortDropdown = !showSortDropdown">
                SORT
            </button>
            <div *ngIf="showSortDropdown" class="dropdown dropdownStyle" id="dropdownItem">
                <a class="dropdown-item" href="#" id="title" *ngFor="let sortOption of sortOptionItems"
                   (click)="sortList(sortOption)">{{sortOption}}</a>
            </div>
        </div>
        <div class="dropdown col">
            <button class="btn btn-outline-primary dropdown-toggle m-2" type="button" data-toggle="dropdown"
                    (click)="showFilterDropdown = !showFilterDropdown">
                FILTER
            </button>
            <div class="dropdown dropdownStyle" *ngIf="showFilterDropdown">
                <a class="dropdown-item" href="#" *ngFor="let filterOption of filterOptionItems"
                   (click)="filterList(filterOption)"
                >{{filterOption}}</a>
            </div>
        </div>
        <div class=" col">
            <button class="btn btn-outline-primary m-2" type="button" (click)="resetFilter()"> All Courses</button>
        </div>

    </div>
    <div class="card m-2 col col-md-2" *ngFor="let course of filteredList" id="card">
        <a routerLink="/detail/{{course.id}}/{{course.title}}" class="text-decoration-none text-dark">
            <img class="card-img-top" src="{{course.image}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{course.title}}</h5>
                <p class="card-text">{{course.description}}</p>
            </div>
        </a>
    </div>
</div>
