<div class="row m-2">
    <div class="col-4">
    <div class="card">
        <img class="card-img-top"
             src="https://prod-discovery.edx-cdn.org/media/course/image/0e575a39-da1e-4e33-bb3b-e96cc6ffc58e-8372a9a276c1.png"
             alt="Card image cap">
        <div class="card-body">
            <ng-content></ng-content>
            <p class="card-title">{{courseElement.description}}</p>
            <p class="card-text">{{courseElement.rate}}</p>
            <a class="btn btn-primary" (click)="navigateToDetail()">Detail</a>
        </div>
    </div>
</div>
</div>


