.course-detail {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  border-radius: 20px;
  width: 600px;
  height: 500px;
  left: 30.3333333%;
}

#courseDetail p {
  color: white;
}
