<div class="row">
    <div class="col">
        <img class="image-style" src="https://avatars.githubusercontent.com/u/22843681?v=4">
    </div>
    <div class="text col">
        <section>
            <span class="text-anim">Hello, I'm Tina Rezanezhad.</span><br><br>
            <span>I am a frontend developer based in Amsterdam.</span><br><br>
            <span>Check out my articles, React and React Native UI components at the code laboratory.</span><br><br>
            <span>Feel free to take a look at my latest projects on the web portfolio page.</span>
        </section>
    </div>
</div>
